@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $lightGray;
    font-family: "Outfit", sans-serif;
}

.card {
    width: calc(375px * 0.85);
    height: (667px * 0.74);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    overflow: hidden;
    padding: 1rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 4px 0px 10px 5px rgba(0,0,0,0.03); 
    box-shadow: 4px 0px 10px 5px rgba(0,0,0,0.03);
}

.qr-code-image {
    background-image: url("/images/image-qr-code.png");
    border-radius: 0.6rem;
    background-size: cover;
    width: 290px;
    height: 290px;
    transform: translateY(-2px);
}

.improve-frontend-skills, .scan-qr-code {
    padding: 0 1rem;
}

.improve-frontend-skills {
    margin-top: 1.5rem;
    text-align: center;
    color: $darkBlue;
    font-weight: 700;
    font-size: 20px;
    transform: scale(1.1);
    margin-bottom: 0.2rem;
}

.scan-qr-code {
    text-align: center;
    color: $grayishBlue;
    font-size: 15px;
    margin-top: 1rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}